# Ignore Go build artifacts
bin/
*.exe
*.test

# Ignore Go modules cache
vendor/
Gopkg.lock

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore Git
.git
.gitignore


# Ignore logs
logs/

# Ignore temporary files
*.tmp
*.log